<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Mountains of Christmas' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <title>Christmas Programs</title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <h1 class="heading display-1 text-center">
                <%= title %>
            </h1>
            <nav class="nav main-nav">
                <a class="nav-link active top-nav" aria-current="page" href="/">Homepage</a>
                <a class="nav-link top-nav" href="/programs">Program</a>
                <a class="nav-link top-nav" href="/api">The Apis</a>
                <a class="nav-link top-nav" href="/moreStuff">More Stuff</a>
                <a class="nav-link top-nav" href="/actor-form">Add An Actor?</a>
            </nav>

        </div>
    </header>