*{ box-sizing: border-box;}

body{
    margin:0;
    padding:0;
    background-color: blanchedalmond;
}
.header{
    padding: 5px 0;
    background: #d01107;
}
/* https://www.w3schools.com/howto/tryit.asp?font=Mountains%20of%20Christmas */
h1{
    font-family: 'Mountains of Christmas';font-size: 22px;
    color: black;
}

a{  
  font-family: 'Mountains of Christmas';font-size: 22px;
  color: #028e61;
}

.top-nav{
    color:blanchedalmond;
    font-weight: 600;
}

.top-nav2{
    color: red;
    font-family: "Times New Roman", serif;
}

.top-h2{
    color:#0b966a;

}

.program-name{
    text-transform: capitalize;
}

.actor-name{
    text-transform: capitalize;
    color:black;
}

.director-name{
    text-transform: capitalize;
    color: black;
}

.producer-name{
    text-transform: capitalize;
    color: black;
}

.streaming-name{
    text-transform: capitalize;
    color:black;
}


ul {
    display: inline-block;
    
}

.main-nav{
    text-align: center;
}

.green{
    color:green;
}

.sort-data{
    max-width: max-content;
}

.sortProgram{
    text-align: right;

    color:#d01107;
}

.dropDown{
    padding-right: 30px;
}

.grinch-gif{
    padding-right: 20%;
}



/* 26532B */

