<%- include('../partials/header') %>


<main class="main" id="main">
    <div class="container">
        <h1 class="colophoon text-center">
            404 ERROR PAGE NOT FOUND
        </h1>
    </div>
</main>


<%- include('../partials/footer') %>