<%- include('../partials/header') %>


<main class="main" id="main">
    <div class="container">
        <h1 class="colophoon text-center">
            404 ERROR PAGE NOT FOUND
        </h1>
        <img src="https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUyaWQ1cnY2bTR4a2M0MWg3b3lhNGdnMGVmbnFrdHQzazdmcnl4N3YydCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/D28t0Rto3daKI/source.gif" alt="gif of the grinch sideyeing the audience" class="grinch-gif">
    </div>
</main>


<%- include('../partials/footer') %>