<%- include('../partials/header') %>
    <main class="main" id="main"> 
        <div class="container text-center">
           HO HO HO MERRY CHRISTMAS! 
        </div>
    </main>
<%- include('../partials/footer') %>
    