<%- include('../partials/header') %>
<main class="main" id="main">
    <ul>
        <li><a href="/actors">All actors</a>.</li>
        <li><a href="/directors">All directors</a>.</li>
        <li><a href="/producers">All Producers</a>.</li>
        <li><a href="/streaming_services">All Streaming Platforms</a>.</li>
    </ul>
</main>
<%- include('../partials/footer') %>