<%- include('../partials/header') %>
<main class="main" id="main">
    <div class="container">
        <li><a href="/searchPrograms">Looking for a Program</a></li>
        <li><a href="/searchActor">Looking for a Actor</a></li>
        <li><a href="/searchDirector">Looking for a Director</a></li>
        <li><a href="/searchProducer">Looking for a Producer</a></li>
        <li><a href="/searchStreaming">Looking for a Streaming Platform</a></li>
    </div>
</main>
<%- include('../partials/footer') %>