<%- include('../partials/header') %>
<main class="main" id="main">
    <section class="section" id="section">
        <!-- <div class="row row-cols-1 row-cols-md-3 gd-4"> -->
            <% data.forEach(data => { %>
             <div class="col" id="div">
                 <div class="card h-100">
                     <div class="card-body streaming-name">
                         <h2 class="card-title">
                             <%= data.streaming_platform %>
                         </h2>
                     </div>
                 </div>
             </div>
        </div>
        <% }) %>
    </section>
</main>
<%- include('../partials/footer') %>